<%= form_with url: dashboard_users_path, class: 'add-user form' do |f| %>
    <div class="form__input-group">
        <%= f.label :fullname, class: 'form__input__label required' %>
        <%= f.text_field :fullname, class: 'form__input__field', placeholder: 'e.g: Abdul Hakim Ghaniy', required: true %>
    </div>
    <div class="form__input-group">
        <%= f.label :username, class: 'form__input__label required' %>
        <%= f.text_field :username, class: 'form__input__field', placeholder: 'e.g: GhaniyKie', required: true %>
    </div>
    <div class="form__input-group">
        <%= f.label :email, class: 'form__input__label required' %>
        <%= f.email_field :email, class: 'form__input__field', placeholder: 'e.g: ghaniy@dsc.ui.ac.id', required: true %>
    </div>
    <div class="form__input-group">
        <%= f.label :role, class: 'form__input__label required' %>
        <%= f.select :role, options_for_select(ApplicationHelper::ROLE), { prompt: 'Select Role' }, class: 'form__input__field', required: true %>
    </div>
    <div class="form__input-group">
        <%= f.label :password, class: 'form__input__label required' %>
        <div class="form__input__field-group">
            <%= f.password_field :password, class: 'form__input__field', placeholder: 'Password', required: true %>
            <%= f.password_field :password_confirmation, class: 'form__input__field', placeholder: 'Password Confirmation', required: true%>
        </div>
    </div>
    <div class="form__input-group">
        <%= f.submit 'Assign User', class: 'form__button-submit' %>
    </div>
<% end %>