<div class="dashboard wrapper">
    <%# Page Header %>
    <%=
        render 'dashboard/components/page_header',
                title: 'Fundus Disease Detection',
                description: 'Get fundus detection by filling patient data form and upload fundus image.'
    %>

    <%# Page Content %>
    <section class="dashboard contents-container" data-controller="detections">
        <%= 
            render 'dashboard/components/content',
                    options: { 
                        header: {
                            title: 'Patient Data',
                            other: lambda do
                                content_tag(:div, nil, class: 'content__header__menu') do
                                    link_to dashboard_detections_path, title: 'Reload data' do
                                        content_tag(:i, nil, class: 'bi bi-arrow-repeat', style: 'font-size: 1.5rem;')
                                    end
                                end
                            end
                        }
                    } do 
            %>

            <%= turbo_frame_tag 'detection-form' do %>
                <%= render 'dashboard/partials/detections/form' %>
            <% end %>
        <% end %>

        <%= render 'dashboard/components/content', options: { header: { title: 'Detection Result' }, id: 'detection-result' } do %>
            <%= render detection_result_empty_template %>
        <% end %>
    </section>

    <%# Page Footer %>
    <%= render 'dashboard/components/page_footer' %>
</div>