<div class="dashboard wrapper">
    <%# Page Header %>
    <%=
        render 'dashboard/components/page_header',
                title: 'User Management',
                description: 'Manage User Account of Doctor (Pathologist) or add user as an Admin.'
    %>

    <%# Page Content %>
    <section class="dashboard contents-container" data-controller="detections">
        <%= 
            render 'dashboard/components/content',
                    options: { 
                        header: {
                            title: 'List of Users',
                            other: -> {
                                content_tag(:div, nil, class: 'content__header__menu') do
                                    search = -> {
                                        form_with url: dashboard_users_lists_path, class: 'search-bar', method: :get, data: { controller: 'form-submission', turbo_frame: "users", turbo_stream: true, turbo_action: :advance } do |f|
                                            f.text_field :query, class: 'search-bar__input', placeholder: 'Search by name or username', data: { action: 'input->form-submission#search' }
                                        end
                                    }

                                    # Reset Button with Reload Icon
                                    reload = -> {
                                        link_to dashboard_users_path, title: 'Reload data' do
                                            content_tag(:i, nil, class: 'bi bi-arrow-repeat', style: 'font-size: 1.5rem;')
                                        end
                                    }

                                    search&.call + reload&.call
                                end
                            }
                        }
                    } do 
            %>
            <%= render 'dashboard/partials/users/lists', users: @users %>
        <% end %>

        <%=
            render 'dashboard/components/content',
                    options: {
                        header: {
                            title: 'Action to User',
                            # Add New User Button beside title
                            other: lambda do
                                content_tag(:div, nil, class: 'content__header__menu') do
                                    link_to new_dashboard_user_path, title: 'Add new user', data: { turbo_frame: "user-action" } do
                                        content_tag(:i, nil, class: 'bi bi-person-add', style: 'font-size: 1.5rem;')
                                    end
                                end
                            end
                        },
                        class: 'max-w-30',
                        id: 'user'
                    } do
            %>

            <%= turbo_frame_tag 'user-action' do %>
                <%= render user_action_empty_template %>
            <% end %>
        <% end %>
    </section>

    <%# Page Footer %>
    <%= render 'dashboard/components/page_footer' %>
</div>