<div class="dashboard wrapper">
    <%# Page Header %>
    <%=
        render 'dashboard/components/page_header',
                title: 'Add New User',
                description: 'Add User Account of Doctor (Pathologist) or add user as an Admin.'
    %>

    <%# Page Content %>
    <section class="dashboard contents-container" data-controller="detections">
        <%= render 'dashboard/components/content', options: {} do %>
            <%= turbo_frame_tag 'user-action' do %>
                <%= render 'dashboard/partials/add_user_form' %>
            <% end %>
        <% end %>
    </section>

    <%# Page Footer %>
    <%= render 'dashboard/components/page_footer' %>
</div>