<div class="dashboard wrapper">
    <%# Page Header %>
    <%=
        render 'dashboard/components/page_header',
                title: 'Show Current User',
                description: 'Show, Edit, or Delete Current User.'
    %>

    <%# Page Content %>
    <section class="dashboard contents-container" data-controller="detections">
        <%= render 'dashboard/components/content', options: {} do %>
            <%= turbo_frame_tag 'user-action' do %>
                <%= render 'dashboard/partials/users/form', url: dashboard_user_path, method: :patch %>
            <% end %>
        <% end %>
    </section>

    <%# Page Footer %>
    <%= render 'dashboard/components/page_footer' %>
</div>