<section class="session wrapper">
  <%= form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'session-form form' } do |f| %>
    <div class="form__input-group">
      <%= f.label :username_or_email, class: 'form__input__label required' %>
      <%= f.text_field :login, class: 'form__input__field', placeholder: 'e.g: GhaniyKie or ghaniy@dsc.ui.ac.id', autofocus: true, required: true %>
    </div>

    <div class="form__input-group">
      <%= f.label :password, class: 'form__input__label required' %>
      <%= f.password_field :password, class: 'form__input__field', placeholder: 'Type your password', autocomplete: "current-password", required: true %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form__input__field-group">
        <%= f.check_box :remember_me, class: 'form__input__selector' %>
        <%= f.label :remember_me, class: 'form__input__label' %>
      </div>
    <% end %>

    <div class="form__input-group">
      <%= f.submit "Login", class: 'form__button-submit' %>
    </div>
  <% end %>
</section>