<div class="dashboard wrapper">
    <%# Page Header %>
    <%=
        render 'dashboard/components/page_header',
                title: 'Show Detection Result',
                description: 'Show and Export Fundus Detection Result.'
    %>

    <%# Page Content %>
    <section class="dashboard contents-container" data-controller="detections">
        <%= render 'dashboard/components/content', options: {} do %>
            <%= turbo_frame_tag 'show-result' do %>
                <%= render 'dashboard/partials/detection_results/result', patient: @patient, result: @patient.detection_record %>
            <% end %>
        <% end %>
    </section>

    <%# Page Footer %>
    <%= render 'dashboard/components/page_footer' %>
</div>