<!DOCTYPE html>
<html>
  <head>
    <title>Fundus Detection System - DSC UI | <%= @error_detail.status %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "hotwire-livereload", defer: true if Rails.env.development? %>

    <%# Prevent Robot being index %>
    <meta name="robots" content="noindex, nofollow">
  </head>

  <body>
    <main class="error container">
        <%= yield %>
    </main>
  </body>
</html>
